<sub-header></sub-header>
<div class="form-container text-center">
    <form id="forgotten-password-form" name="forgottenPasswordForm" novalidate ng-submit="forgottenPasswordCtrl.changePassword()">
        <div class="text-center">
            <div class="group">
                <input type="email" id="email" name="email"
                       class="material-input"
                       ng-model="loginCtrl.forgottenUser.email"
                       ng-class="{ 'not-empty': !forgottenPasswordCtrl.isEmpty('email')}"/>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label class="material-label">Email</label>
            </div>

            <div class="group">
                <input type="password" id="newPassword" name="newPassword"
                       class="material-input"
                       ng-model="loginCtrl.forgottenUser.newPassword"
                       ng-class="{ 'not-empty': !forgottenPasswordCtrl.isEmpty('newPassword')}"/>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label class="material-label">New password</label>
            </div>

            <div class="group">
                <input type="password" id="repeatedNewPassword" name="repeatedNewPassword"
                       class="material-input"
                       ng-model="loginCtrl.forgottenUser.repeatedNewPassword"
                       ng-class="{ 'not-empty': !forgottenPasswordCtrl.isEmpty('repeatedNewPassword')}"/>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label class="material-label">Repeat new password</label>
            </div>
        </div>
        <button class="btn btn-default" ui-sref="login">Back</button>
        <button class="btn btn-success" type="submit" ng-disabled="forgottenPasswordForm.$invalid">
            Change Password
        </button>
    </form>
</div>