{
  "extends": [
    "airbnb-base",
    "plugin:react/recommended"
  ],
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "linebreak-style": "off",
    "comma-dangle": "off",
    "arrow-body-style": "off",
    "indent": ["error", 2]
  }
}