doctype html
html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title #{title}
        block styles
            <!--Application CSS Files-->
            each cssFile in cssFiles
                link(rel="stylesheet" href=cssFile)

    body
        block scripts
            <!--Application JavaScript Files-->
            each jsFile in jsFiles
                script(src=jsFile)
        block content
