/*****************************
         FORM STATUS
*****************************/



#status-buttons a{
  display: block;
}

.login-error {
  margin-bottom: 2.25em;
  color: #9a6a6b;
  font-family: Rockwell Light;
  letter-spacing: 0.075em;
  h4{
  }
}
.forgotten-password{
  color: #23527c;
  font-size: 1.4rem;
  font-family: "Rockwell Light";
  letter-spacing: .075em;

  &:hover{
    color: #393b3e;
    text-decoration: underline;
  }

}
.line{
  margin-top: 3.5em;
}
.registerForm {
  margin-top: 3em;
}